body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffc107;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
}

.calculator-container {
    width: 100%;
    max-width: 340px;
    text-align: center;
}

.title {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #ffc107;
    font-weight: bold;
}

.calculator {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 191, 0, 0.3);
}

.display {
    background-color: #000;
    color: #ffc107;
    font-size: 2rem;
    padding: 10px;
    text-align: right;
    border-radius: 15px;
    margin-bottom: 10px;
    overflow-x: auto;
    white-space: nowrap;
}

/* === Contenedor de botones === */
.buttons {
    display: grid;
    /* Usa Grid para organizar los botones */
    grid-template-columns: repeat(4, 1fr);
    /* 4 columnas iguales */
    gap: 12px;
    /* Espacio entre botones */
}

.btn {
    background-color: #000;
    border: none;
    border-radius: 20px;
    color: #ffc107;
    font-size: 1.3rem;
    padding: 15px;
    /* Espacio interno */
    cursor: pointer;
    /* Cambiamos diseño del mous al pasar el cursos por los numeros a una manito */
    transition: background 0.3s ease, color 0.3s ease;
    min-height: 50px;
}

.btn:hover {
    background-color: #ffc107;
    color: #000;
}

.btn.equal {
    grid-column: span 4;
    background-color: #ffc107;
    color: #000;
    font-weight: bold;
}

.btn.equal:hover {
    background-color: #ffda44;
    color: #000;
}

.btn.zero {
    grid-column: span 1;
}

.btn.operator {
    font-weight: bold;
}

.btn.function {
    font-style: italic;
}

/*agregamos un color y agregamos un estilo de negritas a las letras */
.btn.action {
    background-color: #292929;
    font-weight: bold;
}

.btn.action:hover {
    background-color: #444;
    color: #ffc107;
}

/* Responsive */
@media screen and (max-width: 400px) {
    .title {
        font-size: 1.5rem;
    }

    .display {
        font-size: 1.5rem;
    }

    .btn {
        font-size: 1rem;
        padding: 12px;
    }
}

.title::before {
    content: "🦇 ";
}